* {
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

body {
  color: black;
  background: #ECECEC;
  
}

html, body {margin: 0; height: 100%; overflow: hidden}

.title:hover .fullName {
  opacity: 1;
  transition: font-size 0.3s, opacity 0.3s linear;
  font-size: 35px;
}
.fullName:hover {
  opacity: 1;
  transition: opacity 0.3s linear;
}
.fullName {
  transition: font-size 0.3s, display 0s, opacity 0.3s linear;
  opacity: 0;
  width: 0px;
  font-size: 0px;
}

.title{
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

.link {
  width: 100px;
  transition: 0.3s;
  cursor: pointer;
  transition: transform 250ms;

}
.link:hover  {
  transition: 0.3;
  transform: translateX(10px);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}