$primary: #77a6f7;
$secondary: #00887a;
$success: #00bba8;
$info: #4786f4;
$warning: #ffa953;
$danger: #ff5353;
$light: #ffffff;
$dark: #343a40;
//custom color to be mapped
$accent: #da6d25;
// this is used to map colors. change accordingly.
$theme-colors: ( primary: $primary, secondary: $secondary, success: $success, info: $info, warning: $warning, danger: $danger, light: $light, dark: $dark, // add any additional color below
accent: $accent, // now bg-accent,btn-accent,etc.. can be called
);